doctype html
html(lang="pl")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="description" content="")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" type="text/css" href="css/main.css")
        link(rel="stylesheet" type="text/css" href="css/css-index.css")
        link(rel="icon" type="image/ico" href="FavBroCenter.ico")
        title Broadcasting Center
    body
        section(class="pageView")
            section(id="naglowek" class="headerSection")
                a(href="/index")
                    //- img(class="logotyp1" src="logo2.png" alt="logo")
                    img(class="logotyp2" src="logo1.png" alt="logo")
                header(id="header" class="headerTag") Broadcasting Center
                //- input(type="checkbox" id="checkbox1" class="checkbox1")
            include ./partials/navBar
            section(id="main" class="container")
                div(id="playlista" class="panelLewy")
                    p(class="conTitle") Piosenki na dzisiaj i jutro
                    each n, i in playlista
                        if !n._id
                            p(class="conDate")
                                | #{n.date}
                        else
                            p(class="conSong")
                                | #{n.title} / #{n.artist} - 
                                if n.prewiewURL != null
                                    a(class="link" href=n.prewiewURL) Posłuchaj fragmentu
                                else
                                    | brak podglądu
                div(id="odsluchane" class="panelPrawy")
                    p(class="conTitle") Piosenki z poprzednich dni
                    each n, i in odsluchane
                        if !n._id
                            p(class="conDate")
                                | #{n.date}
                        else
                            p(class="conSong")
                                | #{n.title} / #{n.artist} - 
                                if n.prewiewURL != null
                                    a(class="link" href=n.prewiewURL) Posłuchaj fragmentu
                                else
                                    | brak podglądu
        section(id="stopka" class="footerSection")
            div(id="footer" class="footerTag")
                p(class="footerAuthor") Autorzy projektu
                p(class="author") Kulesza Damian
                p(class="author") Krystian Lisowski
                p(class="author") Mikłosz Jakub
                p(class="author") Tomaszek Łukasz