doctype html
html(lang="pl")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="description" content="")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" type="text/css" href="css/main.css")
        link(rel="stylesheet" type="text/css" href="css/css-index.css")
        title Strona główna Broadcasting Center
    body
        section(id="naglowek" class="headerSection")
            header(id="header" class="headerTag") Blah Blah
        include ./partials/navBar
        section(id="main" class="container")
            div(id="playlista" class="panelLewy")
                p Piosenki na dzisiaj i później
                hr
                each n, i in playlista
                    p
                        | #{n.title} / #{n.artist} - 
                        if n.prewiewURL != null
                            a(class="link" href=n.prewiewURL) Posłuchaj fragmentu
                        else
                            | brak podglądu
            div(id="odsluchane" class="panelPrawy")
                p Piosenki z poprzednich dni
                hr
                each n, i in odsluchane
                    p
                        | #{n.title} / #{n.artist} - 
                        if n.prewiewURL != null
                            a(class="link" href=n.prewiewURL) Posłuchaj fragmentu
                        else
                            | brak podglądu
        section(id="stopka" class="footerSection")
            footer(id="footer" class="footerTag")
                p ( ͡° ͜ʖ ͡°)( ͡° ͜ʖ ͡°)( ͡° ͜ʖ ͡°)( ͡° ͜ʖ ͡°)( ͡° ͜ʖ ͡°)
