doctype html
html(lang="pl")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="description" content="")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" type="text/css" href="css/main.css")
        link(rel="stylesheet" type="text/css" href="css/css-vote-song.css")
        //script(src="/js/jquery.js")
        //script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
        //script(src="/js/vote.js")
        link(rel="icon" type="image/ico" href="FavBroCenter.ico")
        title Strona główna Broadcasting Center
    body
        section(id="naglowek" class="headerSection")
            header(id="header" class="headerTag") Blah Blah
        include ./partials/navBar
        section(id="main" class="container")
            div(id="playlista" class="panelLewy")
                if fullSong != 'undefined'
                    each n, i in fullSongs
                        p
                            | #{n.title} / #{n.artist} - 
                            a(class="link" href=n.prewiewURL) Posłuchaj fragmentu 
                            if User.canVote
                                a(class="voteLink" href="/voteSong/"+n._id)
                                    button Głosuj
            div(id="odsluchane" class="panelPrawy")
                    if resultVote != 'undefined'
                        each n, i in resultVote
                            p
                                | #{n.title} / #{n.artist} - 
                                a(class="link" href=n.prewiewURL) Posłuchaj fragmentu 
                                if User.canVote
                                    a(class="voteLink" href="/voteSong/"+n._id)
                                        button Głosuj
        section(id="stopka" class="footerSection")
            footer(id="footer" class="footerTag")
                p ( ͡° ͜ʖ ͡°)( ͡° ͜ʖ ͡°)( ͡° ͜ʖ ͡°)( ͡° ͜ʖ ͡°)( ͡° ͜ʖ ͡°)